@mixin grid-row-center {
    display: grid;
    flex-direction: row;
    justify-content: center;
}

body {
    @include grid-row-center;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "section-1"
        "aside"
        "section-2"
        "footer";
    grid-template-columns: 298px;
    grid-template-rows: 100px 75px auto auto auto auto;
    row-gap: 5px;
    column-gap: 5px;

    aside .card {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    header {
        background-color: rgb(20, 3, 46);
    }

    nav {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(116, 10, 110);
    }

}

@media screen and (min-width: 768px) {
    body {
        grid-template-areas:
            "header"
            "nav"
            "section-1"
            "aside"
            "section-2"
            "footer";
        grid-template-columns: 746px;
        grid-template-rows: 100px 75px auto auto auto auto;
        row-gap: 10px;
        column-gap: 10px;
    }

    aside .card {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .apodo {
        top: -400px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        -webkit-text-stroke: 2px blue;
    }

    .col-md-8 .card-body {
        width: 400px;
        height: 160px;
        margin: auto;
    }

}

@media screen and (min-width: 1024px) {
    body {
        min-height: 100vh;
        width: 100%;
        grid-template-areas:
            "header header"
            "nav nav"
            "section-1  aside"
            "section-2  section-2"
            "footer     footer";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 100px 75px auto auto auto;
        row-gap: 10px;
        column-gap: 15px;

        header {
            background-color: rgb(255, 255, 255);
        }

        .apodo {
            top: -500px;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 40px;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            -webkit-text-stroke: 2px blue;

        }


    }

    .col-md-8 .card-body {
        width: 520px;
        height: 160px;
        margin: auto;
    }
}