* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html body {
    min-height: 100vh;
    max-width: 900px;
    background-color: rgb(206, 119, 119);
    margin: 0 auto;
    justify-content: center;
}

html {
    background-image: url(../images/Fondo\ web.jpg);
    background-attachment: fixed;
}

header {
    background-color: rgb(255, 255, 255);
    grid-area: header;
    margin-top: 0px;
    align-content: center;
}

#Destacados {
    background-color: rgb(255, 255, 255);
    grid-area: section-1;
    padding: 10px;

}

section {
    background-color: rgb(255, 255, 255);
    grid-area: section-2;
    margin: 5px;
}

aside {
    background-color: rgb(255, 255, 255);
    grid-area: aside;
    position: relative;
    padding: 10px;
    margin-right: 5px;
}

footer {
    background-color: white;
    grid-area: footer;
    text-align: center;
    margin: 5px;
}

button {
    background-color: black;
    cursor: pointer;
    padding: 10px 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 2px;
}

button {
    @extend button;
    background-color: black;
    color: red;
}

.redes {
    position: relative;
    bottom: 150px;
    right: 40px;
    position: fixed;
    width: 50px;
    height: 50px;
}

li {
    list-style-type: none;
}

#radio {
    align-items: center;
}

#Navbar {
    z-index: 1;
    margin: auto;
    justify-content: center;
    padding: 5px;
    grid-column: 1/2;


}

.card-header {
    background: linear-gradient(to left, blue, rgb(238, 235, 235));
}

.btn-primary {
    background: radial-gradient(ellipse 20px 10px, rgb(250, 245, 245), rgb(24, 155, 79));
}


#contacto {
    body {
        height: 100%;
        font-family: 'Noto Sans', sans-serif;
        background-color: #ab4493;
    }


    .contact_form {
        width: 460px;
        height: auto;
        margin: 80px auto;
        border-radius: 10px;
        padding-top: 30px;
        padding-bottom: 20px;
        background-color: #fbfbfb;
        padding-left: 30px;
    }


    input {
        background-color: #fbfbfb;
        width: 408px;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #ab4493;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    }


    textarea {
        background-color: #fbfbfb;
        width: 405px;
        height: 150px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #ab4493;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        padding-top: 15px;
    }


    label {
        display: block;
        float: center;
    }


    button {
        height: 45px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        margin-top: 10px;
        text-transform: uppercase;
        background-color: #ab4493;
        border-color: #ab4493;
        border-style: solid;
        border-radius: 10px;
        width: 420px;
        cursor: pointer;
    }


    button p {
        color: #fff;
    }


    span {
        color: #ab4493;
    }


    .aviso {
        font-size: 13px;
        color: #0e0e0e;
    }


    h1 {
        font-size: 39px;
        text-align: letf;
        padding-bottom: 20px;
        color: #ab4493;
    }


    h3 {
        font-size: 16px;
        padding-bottom: 30px;
        color: #0e0e0e;
    }


    p {
        font-size: 14px;
        color: #0e0e0e;
    }


    ::-webkit-input-placeholder {
        color: #a8a8a8;
    }


    ::-webkit-textarea-placeholder {
        color: #a8a8a8;
    }


    .formulario input:focus {
        outline: 0;
        border: 1px solid #97d848;
    }


    .formulario textarea:focus {
        outline: 0;
        border: 1px solid #97d848;
    }
}